RESEND_API_KEY=re_xxxxxxxxx
FORM_NOTIFICATION_TO_EMAIL=you@example.com
FORM_NOTIFICATION_FROM_EMAIL=Ali Automations <onboarding@resend.dev>
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_CLARITY_ID=xxxxxxxxxx
